{% extends 'base.html.twig' %}

{% block content %}

    <h1>Inscription</h1>

    {{ form(form) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
{% endblock %}

